@page
@model ApplicationSample.Web.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.Name" class="control-label"></label>
                <input asp-for="CustomerViewModel.Name" class="form-control" />
                <span asp-validation-for="CustomerViewModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.Address" class="control-label"></label>
                <input asp-for="CustomerViewModel.Address" class="form-control" />
                <span asp-validation-for="CustomerViewModel.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.Email" class="control-label"></label>
                <input asp-for="CustomerViewModel.Email" class="form-control" />
                <span asp-validation-for="CustomerViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.Phone" class="control-label"></label>
                <input asp-for="CustomerViewModel.Phone" class="form-control" />
                <span asp-validation-for="CustomerViewModel.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.BirthDay" class="control-label"></label>
                <input asp-for="CustomerViewModel.BirthDay" class="form-control" />
                <span asp-validation-for="CustomerViewModel.BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CustomerViewModel.IsActive" /> @Html.DisplayNameFor(model => model.CustomerViewModel.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CustomerViewModel.IdPhoto" class="control-label"></label>
                <input asp-for="CustomerViewModel.IdPhoto" class="form-control" />
                <span asp-validation-for="CustomerViewModel.IdPhoto" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
